<div class="container d-flex align-items-center justify-content-center">
  <div
    id="carouselExampleCaptions"
    class="carousel slide col-7"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/imagens/hamburguer.jpg" class="d-block" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/assets/imagens/hamburguer2.jpg" class="d-block" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/assets/imagens/hamburguer3.jpg" class="d-block" alt="..." />
      </div>
    </div>
  </div>
  <div class="px-4 text-center col-5">
    <img
      class="d-block mx-auto mb-4"
      src="../../../assets/imagens/logo.png"
      alt=""
      width="72"
    />
    <h1 class="display-5 fw-bold text-white">O MELHOR DO HAMBÚRGUER ARTESANAL</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">
        Nossos burgers são exclusivos, preparados com ingredientes frescos, feitos na casa.
      </p>
    </div>
  </div>
</div>
