<div class="row col-12 col-sm-6 col-md-5">
    <a class="card col" routerLink="/comidas">
        <img src="../../assets/imagens/hamburger.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lanches Artesanais</h5>
            <p class="card-text">Para cada tamanho de fome exste um hambúrger que acaba com ela perfeitamente!</p>
        </div>
    </a>
    <a class="card col" routerLink="/bebidas">
        <img src="../../assets/imagens/bebida.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bebidas Diversas</h5>
            <p class="card-text">Bebidas na medida da sua sede! Refrigerantes, Sucos, Cervejas e muito mais...</p>
        </div>
    </a>
</div>