/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(../src/assets/imagens/plano-fundo.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

button.swal2-styled.swal2-confirm{
    background-color: #007e08;
}

