<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <div><i class="fa-solid fa-house"></i></div>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <div><i class="fa-solid fa-laptop-file"></i></div>
              Pedidos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <div><i class="fa-solid fa-cart-shopping"></i></div>
              Produtos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <div><i class="fa-solid fa-user"></i></div>
              Contato
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
        <input type="search" class="form-control" placeholder="Procurar..." aria-label="Procurar">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-light text-dark me-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Conecte-se</font></font></button>
        <button type="button" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inscrever-se</font></font></button>
      </div>
    </div>
  </div>
</header>

<h1>Hello World</h1>