*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagens/DEVinWallpaper_3.png);
    background-size: 100%;
    font: normal 1.2em arial;
}
header > h1{
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
    margin: 20px;
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    padding: 10px;
    
    
}
.logo{
    width: 140px;
    height: 100px;
    animation: bate 1.2s ease-in-out infinite;
}
footer{
    background-color: #15011f;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    font-size: 0.8em;
}

@keyframes bate {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-20px);
        
        
    }
    40%{
        transform: rotate(-10deg);
        
    }
    60%{
        transform: rotate(10deg);
    }
    
    100%{
        transform: translateY(0);
    }

}
