<div class="container d-flex flex-column align-items-center">
    <h1>#Nossos Lanches</h1>
    <div *ngFor="let item of lanches" class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{item.img}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.nome}}</h5>
              <p class="card-text">{{item.descricao}}</p>
              <p class="card-text text-success">R$ {{item.preco.toFixed(2).replace('.',',')}} <button type="button" class="btn btn-success">Adicionar</button></p>
            </div>
          </div>
        </div>
    </div>
    
</div>

