<div class="album py-5 px-5 bg-light mb-5">
    <div class="container">
        <h2 class="pb-2 border-bottom mb-5">Projetos</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://edmilsondmx.github.io/Novo-Portifolio/assets/images/projetos/tela_dashboard.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Projeto Solar Energy</h5>
                        <p class="card-text">Projeto desenvolvido em Angular e JSON-Server.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://edmilsondmx.github.io/Novo-Portifolio/assets/images/projetos/ngfood.png" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Projeto NG-FOOD</h5>
                        <p class="card-text">Projeto desenvolvido em Angular e JSON-Server.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://edmilsondmx.github.io/Novo-Portifolio/assets/images/projetos/SolarEnergy.png" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Projeto Solar Energy</h5>
                        <p class="card-text">Projeto desenvolvido em Angular, .Net Core e SQL Server.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <h2>Acesse mais projetos no meu <a class="fw-bolder text-primary" href="https://github.com/edmilsondmx" target="_blank">GitHub</a>!</h2>
        </div>
    </div>
</div>
