<div class="bg-dark text-secondary px-4 py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/perfil.png" alt="" width="90" height="150">
    <h1 class="display-5 fw-bold">Quem sou eu?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 fw-semibold">Meu nome é Edmilson Gomes, tenho 32 anos e estou estudando programação pois pretendo fazer transição de carreira. Sempre gostei da area de tecnologia, mas não tive a oportunidade de trabalhar nessa área. Hoje faço cursos e pesquiso muito a respeito para ficar cada vez mais próximo ao meu objetivo.</p>
      <p class="lead mb-4 fw-semibold">Atualmente estou cursando o DEVinHouse onde terei uma formação em FullStack nas tecnologias Angular e .NET Core. Também nesse curso terei aulas de metodologias Ágeis como Kanban e Scrum, e vivência e mentorias com equipes de desenvolvimento da empresa parceira. Estou focado nos estudos e com muita vontade de aprender sobre esse imenso mundo da Programação.</p>
    </div>
  </div>