<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Conhecimentos e Tecnologias</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="angular" height="60" width="60" src="https://miro.medium.com/max/256/1*3H6_a9Srb655m3NiqlbbKQ.png">
        <h3 class="fw-bold mb-0 fs-4"> Angular</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="Js" height="50" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
        <h3 class="fw-bold mb-0 fs-4"> JavaScript</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="Js" height="50" width="50" src="https://miro.medium.com/max/256/1*tYwniVWMqcytJ1AQ6zud7A.png">
        <h3 class="fw-bold mb-0 fs-4">TypeScript</h3>
      </div>
      <!-- <div class="col d-flex align-items-center">
        <img class="me-2" alt="HTML" height="50" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
        <h3 class="fw-bold mb-0 fs-4">HTML5</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="CSS" height="50" width="50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
        <h3 class="fw-bold mb-0 fs-4">CSS3</h3>
      </div> -->
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="Sass" height="50" width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg">
        <h3 class="fw-bold mb-0 fs-4">SASS</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="Bootstrap" height="50" width="50" src="https://logospng.org/download/bootstrap/bootstrap-256.png">
        <h3 class="fw-bold mb-0 fs-4">Bootstrap</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="Git" height="50" width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg">
        <h3 class="fw-bold mb-0 fs-4">Git</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="GitHub" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/25/25657.png">
        <h3 class="fw-bold mb-0 fs-4">GitHub</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="CSharp" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/6132/6132221.png">
        <h3 class="fw-bold mb-0 fs-4">C#</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="CSharp" height="50" width="50" src="https://adrianwilczynski.gallerycdn.vsassets.io/extensions/adrianwilczynski/asp-net-core-snippet-pack/1.51.0/1586892181474/Microsoft.VisualStudio.Services.Icons.Default">
        <h3 class="fw-bold mb-0 fs-4">.Net</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="sql" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png">
        <h3 class="fw-bold mb-0 fs-4">SQL Server</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="sql" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/5108/5108922.png">
        <h3 class="fw-bold mb-0 fs-4">Scrum</h3>
      </div>
      <div class="col d-flex align-items-center">
        <img class="me-2" alt="sql" height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/1199/1199128.png">
        <h3 class="fw-bold mb-0 fs-4">MySQL</h3>
      </div>
    </div>
</div>
<div class="container px-2 py-2" id="icon-grid">
  <h2 class="pb-2 border-bottom">Soft Skills</h2>
  <ul class="nav justify-content-center px-3 py-5 fs-4">
    <li class="me-4 fw-bold">Comunicação | </li>
    <li class="me-4 fw-bold">Solução de Problemas | </li>
    <li class="me-4 fw-bold">Trabalho em equipe | </li>
    <li class="me-4 fw-bold">Resiliência | </li>
    <li class="me-4 fw-bold">Empatia</li>
  </ul>
</div>