
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 300px;height: 100vh">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Exercícios Semana 11</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li *ngFor="let exercicio of exerciciosSemana11" class="nav-item">
        <a routerLink="{{ exercicio.rota }}" routerLinkActive="active" class="nav-link text-white" aria-current="page">
        <i class="fa-solid fa-list-check"></i>
        {{ exercicio.nome }}
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/edmilsondmx.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Edmilson</strong>
      </a>
    </div>
</div>

