.form {
    
    /* --bs-bg-opacity: 0.3;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important; */
    backdrop-filter: blur(20px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
}