<div class="container title">
  <h1>#Nossas Bebidas</h1>
  <div class="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Pesquise um item" [(ngModel)]="bebida" (change)="pesquisar()" (keyup)="pesquisar()">
  </div>
</div>
<div class="container d-flex align-items-center flex-wrap">
  <div *ngFor="let item of bebidas" class="card mb-3 me-3 col-6" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="{{item.img}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title text-white">{{item.nome}}</h5>
          <p class="card-text text-white">{{item.descricao}}</p>
          <p class="card-text text-white">R$ {{item.preco.toFixed(2).replace('.',',')}} <button type="button" class="btn btn-success">Adicionar</button></p>
        </div>
      </div>
    </div>
  </div>
    
</div>
