<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a routerLink="" class="d-flex align-items-end my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img style="width: 80px;" src="../assets/imagens/logo.png" alt="">
            <h1 class="text-white ms-3">NG-FOOD</h1>
          </a>
  
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a routerLink="" class="nav-link text-white">
                <div><i class="fa-solid fa-house"></i></div>
                Home
              </a>
            </li>
            <li>
              <a routerLink="" class="nav-link text-white">
                <div><i class="fa-solid fa-list-check"></i></div>
                Cardápio
              </a>
            </li>
            <li>
              <a routerLink="/contato" class="nav-link text-white">
                <div><i class="fa-solid fa-user"></i></div>
                Contato
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
